{
  "extends": "@react-native",
  // "parserOptions": {
  //   "parser": "@babel/eslint-parser",
  //   "requireConfigFile": false,
  //   "parserOpts": {
  //     "plugins": ["jsx"],
  //   },
  // },
}
